.gallery {
  background-color: black;
}
img {
  width: auto;
  height: 300px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  /* background-color: palegreen; */
  margin: 5px auto;
  border: 5px solid none;
}
.card:hover {
  transform: scale(1.02);
}
